#contactBody {
    background-color: rgb(80, 140, 155);
    color: #fff;
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  
  
  body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  }


  #contactheader {

  }

  @keyframes btn {

    0% {opacity: 0;}
    100% {opacity: 1;}

    0% {bottom: -50vh;}
    100% {bottom: 0;}
  }
  
  .wrapper {
    margin: 0 15px;
    max-width: 960px;
  }
  
  h1 {
    position: relative;
    top: 0px;
    animation: title 1.35s ease-in forwards;
    transition: 1.5s linear;
  }
  
  @keyframes title {

    0% {opacity: 0;}
    100% {opacity: 1;}

    0% {top: -10vh;}
    100% {top: 0;}
  }
  
  .content {
    margin: 25px 0 50px 0;
    position: relative;
    bottom: 0;
    opacity: 0;
    transition: 1.5s linear;
    animation: content 1.75s ease-in forwards;
  }
  
  @keyframes content {

    0% {opacity: 0;}
    100% {opacity: 1;}
      
    0% {bottom: -10vh;}
    100% {bottom: 0;}
  }
  
  .btn {
    border: 2px solid #fff;
    border-radius: 14px;
    color: #fff;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    
    animation: btn 3.5s ease-in 0.5s forwards;
  }
  
  @keyframes btn {

    0% {opacity: 0;}
    100% {opacity: 1;}

    0% {bottom: -50vh;}
    100% {bottom: 0;}
  }
  
  .btn:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }