#resumeBody {
  background: #131313;
  height: 100%;

  #resumeBackPic {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  .resumeMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition: 0.5s linear;
    animation: listTitle 0.25s ease-in 0.35s forwards;

    .period {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      padding: 5%;
      border-radius: 14px;
      margin-top: 5%;
      width: 70%;
      height: fit-content;
      margin-left: -2000px;

      h2 {
        letter-spacing: 0.2em;
        font-weight: 300;
      }
      h4 {
        font-weight: 500;
        letter-spacing: 0.1em;
      }
    }
    #period4 {
      background: none;
      height: fit-content;
      color: rgb(255, 255, 255);
      padding: 1.5%;
      border: 1px solid #fff;
      border-radius: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #period2 {
      background: rgba(255, 255, 255, 0.2);
    }
    #period3 {
      background: rgba(255, 255, 255, 0.3);
    }

    #period5 {
      background: rgb(216, 216, 216);
      color: #434343;
    }

    #period6 {
      background: rgb(202, 223, 224);
      color: #434343;
    }
    #period7 {
      background: rgb(181, 215, 218);
      color: #434343;
    }
    #period8 {
      background: rgb(162, 211, 214);

      color: #434343;
    }
    #period9 {
      background: rgb(142, 198, 202);
      color: #434343;
    }
    #period10 {
      background: rgb(120, 184, 189);
      color: #434343;
    }

    #gif {
      width: 70%;
      margin-top: 5%;
      border-radius: 14px;
    }
  }
  @keyframes resumeMain {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }

    0% {
      top: -10vh;
    }
    100% {
      top: 0;
    }
  }
}

/* skills in resume page */

.listTitle {
  margin-top: 40vh;
  color: #fff;
  letter-spacing: 0.75em;
  font-weight: 200;
  opacity: 0;
  position: relative;
  transition: 1.5s linear;
  animation: listTitle 0.5s ease-in 0.5s forwards;
}

#timeLineTitle,
#languageTitle {
  margin-top: 15vh;
}

@keyframes listTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

  0% {
    top: -10vh;
  }
  100% {
    top: 0;
  }
}

$skillBarColor: rgb(74, 102, 139);
$languageBarColor: rgb(52, 184, 151);

ul {
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  padding: 10%;
  margin-top: 5vh;
}

#skills {
  height: 80%;
  width: 70%;

  li {
    position: relative;
    margin-bottom: 10%;
    padding-left: 6px;

    .bar-container,
    .bar1,
    .bar2,
    .bar3,
    .bar4,
    .bar5,
    .bar6,
    .bar7,
    .bar8,
    .bar9,
    .bar10,
    .bar11,
    .bar12,
    .bar13,
    .bar14,
    .bar15,
    .bar16 {
      position: absolute;
      left: 0;
      height: 15px;
      border-radius: 25px;
      content: "";
    }

    .bar-container {
      bottom: -18px;
      width: 100%;
      background-color: rgb(194, 194, 194);
      text-align: right;

      .bar1 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar1-scrolled {
        top: 0;
        width: 70%;
        background-color: $skillBarColor;
      }
      .bar2 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar2-scrolled {
        top: 0;
        width: 90%;
        background-color: $skillBarColor;
      }
      .bar3 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar3-scrolled {
        top: 0;
        width: 90%;
        background-color: $skillBarColor;
      }
      .bar4 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar4-scrolled {
        top: 0;
        width: 70%;
        background-color: $skillBarColor;
      }
      .bar5 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar5-scrolled {
        top: 0;
        width: 60%;
        background-color: $skillBarColor;
      }
      .bar6 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar6-scrolled {
        top: 0;
        width: 70%;
        background-color: $skillBarColor;
      }
      .bar7 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar7-scrolled {
        top: 0;
        width: 60%;
        background-color: $skillBarColor;
      }
      .bar8 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar8-scrolled {
        top: 0;
        width: 50%;
        background-color: $skillBarColor;
      }
      .bar9 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar9-scrolled {
        top: 0;
        width: 95%;
        background-color: $skillBarColor;
      }
      .bar10 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar10-scrolled {
        top: 0;
        width: 50%;
        background-color: $skillBarColor;
      }
      .bar11 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar11-scrolled {
        top: 0;
        width: 100%;
        background-color: $skillBarColor;
      }
      .bar12 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar12-scrolled {
        top: 0;
        width: 90%;
        background-color: $skillBarColor;
      }
      .bar13 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $skillBarColor;
      }
      .bar13-scrolled {
        top: 0;
        width: 70%;
        background-color: $skillBarColor;
      }
      .bar14 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $languageBarColor;
      }
      .bar14-scrolled {
        top: 0;
        width: 70%;
        background-color: $languageBarColor;
      }
      .bar15 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $languageBarColor;
      }
      .bar15-scrolled {
        top: 0;
        width: 60%;
        background-color: $languageBarColor;
      }
      .bar16 {
        top: 0;
        width: 0;
        transition: ease 0.4s;
        background-color: $languageBarColor;
      }
      .bar16-scrolled {
        top: 0;
        width: 100%;
        background-color: $languageBarColor;
      }
    }
  }
}

.arrow {
  text-align: center;

  padding: 1%;
  opacity: 20%;
  border: 2px solid #fff;
  border-radius: 30px;
  position: fixed;
  font-size: 3rem;

  top: 80%;
  right: 3%;
  z-index: 1000;
  color: #fff;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.toTop {
  margin-top: 5%;
  background: none;
  font-size: 4rem;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 60px;
}
