@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-bg-color: #13293a;
  --second-blue-color: #22435c;
  --white-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: var(--main-bg-color);
  height: fit-content;
}

@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.main-tool-bar {
  z-index: 20;
  height: 200px;
  background: var(--main-bg-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--white-color);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
}
.main-tool-bar--scrolled {
  height: 70px;
  background: var(--second-blue-color);
}

.header a {
  font-size: 2rem;
  color: var(--white-color);
}

.paralax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paralax:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.paralax:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.paralax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: var(--white-color);
  font-size: 5em;
  margin: 5%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#text h3 {
  font-weight: 200;
}
#text p {
  font-size: 24px;
  color: rgb(189, 121, 33);
}
#road {
  z-index: 2;
  width: 100%;
}
#bg {
  width: 100%;
}
#sun {
  width: 100%;
}

#imageAbout {
  width: 500px;
  height: 500px;
  margin-top: 200px;
}

.mainAbout {
  background: var(--second-blue-color);
}

#main-home {
  opacity: 0;
  transition: 0.5s linear;
  animation: mainHome 0.25s ease-in 0.35s forwards;
}
@keyframes mainHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

  0% {
    top: -10vh;
  }
  100% {
    top: 0;
  }
}

#secondPartHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

#picAndTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#hanifPic {
  width: 250px;
  border-radius: 50%;
}
#aboutTitle1 {
  color: var(--white-color);
  font-weight: 200;
  border-bottom: solid 0.5px #b0b0b0;
}
#aboutTitle2 {
  color: #b0b0b0;
  font-weight: 200;
}
#aboutTitle3 {
  color: #b0b0b0;
  font-weight: 100;
}

#textAbout {
  padding: 5%;
  color: var(--white-color);
  position: absolute;
  z-index: 19;
  margin-top: 1000px;
}

.aboutTextInside {
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: 200;
}

.homeLinksBox {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.homeLink {
  color: #fff;
  font-size: 20px;

  transition: 0.3s ease;
}

@media screen and (min-width: 700px) {
  .my-photo {
    width: 20%;
    height: auto;
  }
  .homeLinksBox {
    margin-top: 60px;
  }

  .homeLink {
    font-size: 30px;
  }
  .homeLink:hover {
    color: #90e8f0;
  }

  #textAbout {
    margin-top: 1100px;
  }
}

@media screen and (max-width: 800px) {
  #text h3 {
    font-weight: 300;
    font-size: 40px;
  }
  #text p {
    font-size: 20px;
  }
}

/* projects page */
.projects-wrapper {
  height: fit-content;
  width: 100%;
  margin-top: 150px;
}
.projects-container {
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  width: 100%;

  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  color: white;
}

@media screen and (max-width: 1000px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: ".";
  }
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 360px;
}
